body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
} 
body * {
  box-sizing: border-box;
}


.sandbox {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  margin: auto;
  padding: 30px;
}

.sbx {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.sbx-top {
  width: 100%;
  height: 80px;
}

.sbx-leftbar, .sbx-rightbar {
  max-width: 25%; 
}

.sbx-nav {
  display: flex;
  flex: 0 1 auto;
  flex-flow: column wrap;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  list-style: none; 
}
.sbx-nav-label {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid cyan;
  margin: 5px;
  transition: 0.2s ease-in; 
}
.sbx-nav .sbx-nav-label:hover, 
.sbx-nav .sbx-nav-label.active {
  cursor: pointer; 
}

.sbx-inventory {
  flex: 1 1 auto;
  flex-flow: row wrap;
  margin-left: 0;
  padding: 5px;
  list-style: none;
  overflow-y: scroll;
  border: 1px dotted maroon; 
}
.sbx-inventory .sbx-inventory-label {
  display: none;
  flex: 1 1 100%;
  align-items: center;
  min-width: 100%;
  height: 80px;
  margin: 5px 5px 5px 0;
  transition: 0.2s ease-in;
  padding-left: 20px; 
}
.sbx-nav-item[value="hair"]:checked .sbx-inventory-label[cat="hair"] {
  display: flex; 
}
.sbx-nav-item[value="hat"]:checked .sbx-inventory-label[cat="hat"] {
  display: flex; 
}



.sbx-inventory .sbx-inventory-label:hover, 
.sbx-inventory .sbx-inventory-label {
  background: red;
  border: 1px solid red;
  cursor: pointer; 
}

.sbx-preview {
  flex: 2 1 auto; 
  display: block;
  position: relative;
}

.sbx-preview .sbx-preview-name {
  position: relative;
  top: 0;
  left: 0; 
}
.sbx-preview .sbx-preview-name input {
  border: 0;
  background: none;
  font-size: 25px;
  border-bottom: 4px solid transparent;
  padding-bottom: 10px;
  transition: 0.2s ease-out;
}
.sbx-preview .sbx-preview-name input:active, 
.sbx-preview .sbx-preview-name input:focus {
  outline: none;
  -webkit-appearance: none;
  padding-bottom: 0px;
  border-bottom: 4px solid darkgrey; 
}

.sbx-preview-viewbox {
  position: relative;
  top: calc(50% - 250px);
  left: calc(50% - 210px);
  width: 420px;
  height: 500px;
  border: 2px solid yellow;
}

.sbx-leftbar {
  display: inline-block;
}

.form-selector-option[type=radio],
.color-selector-option[type=radio],
.bg-selector-option[type=radio],
.sbx-nav-item[type=radio],
.sbx-inventory-item[type=radio] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.form-selector-option[type=radio]:checked + .form-selector-label,
.color-selector-option[type=radio]:checked + .color-selector-label,
.bg-selector-option[type=radio]:checked + .bg-selector-label,
.sbx-nav-item[type=radio]:checked + .sbx-nav-label,
.sbx-inventory-item[type=radio]:checked + .sbx-inventory-label {
   background: red;
}

