body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
} 
body * {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}


.sandbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 100%;
  margin: auto;
  padding: 30px;
}

.sbx {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.sbx-top {
  width: 100%;
  height: 80px;
}

.sbx-leftbar, .sbx-rightbar {
  max-width: 26%; 
}


.sbx-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  list-style: none; 
}
.sbx-nav-label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid cyan;
  margin: 5px;
  transition: 0.2s ease-in; 
}
.sbx-nav .sbx-nav-label:hover, 
.sbx-nav .sbx-nav-label.active {
  cursor: pointer; 
}

.sbx-inventory {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: 0;
  padding: 5px;
  list-style: none;
  overflow-y: scroll;
  border: 1px dotted maroon; 
}
.sbx-inventory .sbx-inventory-label {
  display: none;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 100%;
  height: 80px;
  margin: 5px 5px 5px 0;
  transition: 0.2s ease-in;
  padding-left: 20px; 
}
.sbx-nav-item[value="hair"]:checked .sbx-inventory-label[cat="hair"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
}
.sbx-nav-item[value="hat"]:checked .sbx-inventory-label[cat="hat"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
}



.sbx-inventory .sbx-inventory-label:hover, 
.sbx-inventory .sbx-inventory-label {
  background: red;
  border: 1px solid red;
  cursor: pointer; 
}

.sbx-preview {
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto; 
  display: block;
  position: relative;
}

.sbx-preview .sbx-preview-name {
  position: relative;
  top: 0;
  left: 0; 
}
.sbx-preview .sbx-preview-name input {
  border: 0;
  background: none;
  font-size: 25px;
  border-bottom: 4px solid transparent;
  padding-bottom: 10px;
  transition: 0.2s ease-out;
}
.sbx-preview .sbx-preview-name input:active, 
.sbx-preview .sbx-preview-name input:focus {
  outline: none;
  -webkit-appearance: none;
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-bottom: 4px solid darkgrey; 
}

.sbx-preview-viewbox {
  position: relative;
  top: calc(50% - 250px);
  left: 5%;
  width: 420px;
  height: 500px;
  margin: auto;
  background-image: url('../img/bg/tatooine.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.sbx-preview-viewbox .droidbasis {
  z-index: 5;
}

.sbx-preview-viewbox .sbx-part:not([data-cat=bag]) {
  position: absolute;
  left: calc(50% - 210px);
  z-index: 10;
}
.sbx-preview-viewbox .sbx-part[data-cat=bag] {
  position: absolute;
  left: calc(50% - 210px);
  z-index: 1;
}

.sbx-leftbar {
  display: inline-block;
}

.form-selector-option[type=radio],
.color-selector-option[type=radio],
.bg-selector-option[type=radio],
.sbx-nav-item[type=radio],
.sbx-inventory-item[type=radio] {
 position: absolute;
 top: -9999px;
 left: -9999px;
}



/********
BOUTONS SHARES
*********/

.partage {
  width:150px;
  height:50px;
  margin: auto;
}

.share_btn {margin:5px;}

.share_btn, .share_btn-hover {
  width:40px;
  height:40px;
  float:left;
}

/********
FACEBOOK
*********/

.twitter_button {
  background:url(../img/twitter.png), no-repeat;
  background-size:cover;
}

.twitter_hover-state {
  opacity:0;
  background:url(../img/twitter_hover.png), no-repeat;
  background-size:cover;    
}

.twitter_button:hover .twitter_hover-state {opacity:1;cursor:pointer;}

/********
TWITTER
*********/

.facebook_button {
  background:url(../img/facebook.png), no-repeat;
  background-size:cover;
}

.facebook_hover-state {
  opacity:0;
  background:url(../img/facebook_hover.png), no-repeat;
  background-size:cover;
}

.facebook_button:hover .facebook_hover-state {opacity:1;cursor:pointer;}

/********
SAVE
*********/

.save_button {
  background:url(../img/save.png), no-repeat;
  background-size:cover;
}

.save_hover-state {
  opacity:0;
  background:url(../img/save_hover.png), no-repeat;
  background-size:cover;
}

.save_button:hover .save_hover-state {opacity:1;cursor:pointer;}

