<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/uilang.js" | prepend: site.baseurl }}"></script>
<code>
  clicking on ".sbx-nav-item" removes class "active" on ".sbx-nav-item.active"
  clicking on ".sbx-nav-item" adds class "active" on target

  clicking on ".sbx-inventory-item" toggles class "active" on target
  
  clicking on ".sbx-nav-item" removes class "visible" on ".sbx-inventory-item"
  clicking on ".sbx-nav-item.all" toggles class "visible" on ".sbx-inventory-item"
  clicking on ".sbx-nav-item.head" toggles class "visible" on ".sbx-inventory-item.head"
  clicking on ".sbx-nav-item.trunk" toggles class "visible" on ".sbx-inventory-item.trunk"
  clicking on ".sbx-nav-item.legs" toggles class "visible" on ".sbx-inventory-item.legs"
  clicking on ".sbx-nav-item.accessories" toggles class "visible" on ".sbx-inventory-item.accessories"
</code>